<ion-view>
    <ion-nav-title>{{menuCtrl.menu.label}}</ion-nav-title>
    <ion-content>
        <img ng-hide="true" ng-src="img/arkbanner.jpg" style="width:100%;height:auto;margin:auto;" />
        <ion-list>
            <ion-item class="item item-icon-right item-text-wrap padding" ng-click="menuCtrl.setItemData(item)" ng-repeat="item in menuCtrl.items" ng-show="menuCtrl.isNavigable(item)" type="item-text-wrap" href="#/{{item.type}}/{{item.id}}">
                <h2>{{item.label}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
